.card.login{
    align-items: center;
    display: flex;
    background-color: rgba(207, 186, 186, 0.151);
}

.card{
    display: flex;
    width: 100px;
    height: 55vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logintext{
    color:rgb(255, 255, 255);
    padding-top: 5;
    padding-bottom: 5vh;
}

.createAcc{
    color:red;
}

.submitButton{
    align-items: right;
    justify-content: right;
    display: flex;
}

.insideForm{
    align-items: center;
    justify-content: center;
    
}

.formSetup{
    float: left;
}

.logoutLink{
    align-items: center;
    justify-content: right;
    display: flex;
    padding-top: 10px;
    padding-right: 25px;
    text-decoration: none;
}

.tabelAlignment{
    padding: 20px;
    margin-right: 10px;
    text-align: center;
}

.rowClass{
    display:flex;
    align-items: center;
    justify-content: center;
}

.cansleInRegistration{
    margin-left: 5px;
}

.setupBodyForUpdate{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 47, 56, 0.219);
}

.update{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.boltingLabel{
    font-weight: bold;
}

.mailbody{
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.setup{
    align-items: right;
    justify-content: right;
    display: flex;
}

.hello{
    display: flex;
    align-items: right;
    justify-content: right;
}

.loginBody{
    background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
}

.mailBody{
    background-color: rgba(100, 212, 240, 0.74);
}

.helloUser{
color:aliceblue;
}

.updateText{
    color:black;
    padding-bottom: 5vh;
}

.Signup{
    color:white;
}